.wrapper {
    width: 100%;
    flex: 1;
    min-height: 0;
    padding-top: 40px;
}

.inner {
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
}

.sidebar {
    flex-shrink: 0;
    width: 100%;
    max-width: 320px;
    margin-right: 60px;
    padding-top: 80px;
}

.content {
    height: 100%;
    overflow: auto;
    flex: 1;
}

.content::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.content::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
    padding: 24px 0;
}

.nav {
    margin: 0 0 80px 0;
    padding: 0;
}

.nav li {
    display: flex;
    align-items: center;
    min-height: 64px;
    list-style: none;
    cursor: pointer;
}

.infoMessage {
    color: #8585AD;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.buttonWrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.link {
    font-family: 'Jet Brains Mono';
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    color: #8585AD;
    text-decoration: none;
}
.active {
    color: #fff;
}